# paths specific to this repository
.snakemake/
workup/
assets/*/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

### OS-specific files ###
# macOS files - see https://github.com/github/gitignore/blob/main/Global/macOS.gitignore
.DS_Store
._*
