# paths specific to this repository
.snakemake/
workup/
assets/*/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

.snakemake/
workup/
workup_old/
workup_old_test/
workup_test/
workup2/
scripts/python_bam/
scripts/python_old/
assets/
config.yaml
Snakefile_old.smk
rulegraph_old.pdf
cluster.yaml
config.yaml
### OS-specific files ###
# macOS files - see https://github.com/github/gitignore/blob/main/Global/macOS.gitignore
.DS_Store
._*
