# Except for conda_env, paths in this file are specified relative to the working directory, which refers to following,
# in order of precedence:
# 1. the directory specified by the `--directory` command line option
# 2. the directory specified by the `workdir:` directive in the Snakefile
# 3. the directory in which Snakemake is invoked

# Email to which errors will be sent; set to null or "" to skip emails
email: ""

# (Required) Path to barcode config file
barcode_config: "config/example_config.txt"

# Path to barcode format file; set to null or "" to skip barcode validation
barcode_format: "config/example_format.txt"

# (Required) Path to libraries JSON file, e.g., as produced with the fastq2json.py script
libraries: "config/example_libraries.json"

# (Required) Scripts directory
scripts_dir: "workflow/scripts/"

# Output directory
output_dir: "results"

# Temporary directory
temp_dir: "/tmp"

# Conda environment: either a path to a conda environment YAML file ("*.yml" or "*.yaml")
# or the name of an existing conda environment.
# - If a relative path is used, the path is interpreted as relative to the Snakefile.
# - Alternatively, an absolute path can be used.
conda_env: "envs/chipdip.yaml"

# Path to chromosome name map file; set to null or "" to skip chromosome renaming and filtering
path_chrom_map: "config/chrom_map.txt"

# Chromatin reads deduplication method - usually one of the following:
# - "RT&start&end": deduplicate by DPM and read alignment start and end position
# - "RT&start|RT&end": deduplicate by (DPM and read alignment start) or (DPM and end position)
# - "RT&start": deduplicate by DPM and read alignment start position
# - "RT&end": deduplicate by DPM and read alignment end position
deduplication_method: "RT&start&end"

# Number of chunks to split FASTQ reads into for parallel processing
num_chunks: 2

# (Required) Files for cutadapt
cutadapt_dpm: "resources/dpm96.fasta"
cutadapt_oligos: "resources/bpm.fasta"

# (Required) Bead oligo UMI length
bead_umi_length: 8

# Mask used for filtering DNA reads
# e.g., "resources/blacklist_mm10.bed" or "resources/blacklist_hg38.bed"
# Set to null or "" to skip filtering
mask: "resources/blacklist_mm10.bed"

# (Required) Bowtie2 indexes for aligning DNA reads
# e.g., "resources/index_hg38/GRCh38_noalt_as" or "resources/index_mm10/mm10"
bowtie2_index: "resources/index_mm10/mm10"

# Name for merging cluster files, target BAM files, and target bigWig files across libraries
# - merged cluster file path: clusters/{merged_library_name}.bam
# - merged BAM file path: splitbams/{target}/{merged_library_name}.bam
# - merged bigWig file path: bigwigs/{target}/{merged_library_name}.bam
# - Set to null to skip merging across libraries
# - This name must not conflict with any library names used in the libraries JSON file
merged_library_name: "merged"

# Generate BAM files for individual targets
generate_splitbams: true
min_oligos: 2
proportion: 0.8
max_size: 10000

# bigWig generation parameters
# - only relevant if generate_splitbams is True
# - binsize: bin size in bp
#   - Set to false to skip bigWig generation
# - bigwig_normalization: "RPKM", "CPM", "BPM", "RPGC", or "None"
#   - Passed to the --normalizeUsing argument for bamCoverage from the deepTools suite
# - effective_genome_size: effective genome size in bp
#   - only relevant if bigwig_normalization is "RPGC"
#   - Supply as an integer, or set to null for the pipeline to compute the effective genome size
#     based on the Bowtie2 index, mask, and chromosome name map
binsize: 1000
bigwig_normalization: "None"
effective_genome_size: null
